<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  <a href="https://www.linkedin.com/in/timfesta">LinkedIn</a>
</p>
<p>
	<a href="https://twitter.com/timfesta">Twitter</a>
</p>
<p>
	<a href="https://github.com/timfesta?tab=repositories">GitHub</a>
</p>