<div class="container-fluid">
  <div class="jumbotron">
    <center>
      <h1 class="Jan">January</h1>
    </center>
    
  </div>

  <% if logged_in? %>
    <div class="row">
      <%= render 'shared/user_info' %>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <br>
        <section class="micropost_form">
          <%= render 'shared/micropost_form' %>
        </section>
      </div>
      <div class="col-md-4">
        <h3>Micropost Feed</h3>
        <%= render 'shared/feed' %>
      </div>
      <aside class="col-md-4">
       
      </aside>
      <div class="col-md-8">
        
      </div>
    </div>
  <% else %>
    <center>
      <%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary" %>
    </center>   
  <% end %>
</div>
